#!/bin/sh -
[Unit]
Description=cync2mqtt
After=network.target

[Service]
ExecStart=/cync2mqtt/bin/cync2mqtt /config/cync2mqtt/cync_mesh.yaml
Restart=always
User=root

[Install]
WantedBy=multi-user.target
